@page "/"
@inject IToastService toastService
@inject PhoneService phoneService

<PageTitle>Index</PageTitle>

<div class="container">
    <h1>Mobile Phones Inventory List</h1>
    <div class="col-md-12 d-flex justify-content-end">
        <a href='/phone/add' class="btn btn-primary" role="button">
            Add New
        </a>
    </div>
    <br>
    <table class="table table-striped align-middle table-bordered">
        <thead class="table-primary">
            <tr>
                <th>ID</th>
                <th>Model</th>
                <th>Brand</th>
                <th>Quantity</th>
                <th>Price Per Item</th>
                <th>Specifications</th>
                <th>InStock or Not</th>
                <th>Updated Date</th>
                <th>Action</th>
            </tr>
        </thead>
        @if(PhonesList == null)
        {
            <p>Loading...</p>
        }else if(PhonesList.Any())
        {
            <tbody>
                @foreach (var phone in PhonesList)
                {
                    <tr>
                        <td>#@phone.Id</td>
                        <td>@phone.Model</td>
                        <td>
                            @if(@phone.CompanyId == 1)
                            {
                                <span>Apple</span>
                            }else if(@phone.CompanyId == 2)
                            {
                               <span>Samsung</span>
                            }else if(@phone.CompanyId == 3)
                            {
                                <span>Xiaomi</span>
                            }else if(@phone.CompanyId == 4)
                            {
                                <span>Sony</span>
                            }else if(@phone.CompanyId == 5)
                            {
                                <span>Oppo</span>
                            }else {
                                <span>Oneplus</span>
                            }
                        </td>
                        <td>@phone.Quantity</td>
                        <td>$ @phone.PricePerItem</td>
                        <td>@phone.Specs</td>
                        <td>@if(@phone.Quantity > 0)
                            {
                                <span class="text-info">Instock</span>
                            }else {
                                <span class="text-warning">Out of Stock</span>
                            }
                        </td>
                        <td>@phone.DateOfImport.ToString("dddd, dd MMMM yyyy")</td>
                        <td>
                            <a href='@($"phone/{phone.Id}/edit")' class="btn btn-success" >Edit</a>
                            <button class="btn btn-danger" @onclick="@(() => ConfirmDelete(phone.Id))" >Delete</button>
                        </td>
                    </tr>
                }
                
            </tbody>

        }else {
            <p>No data available.</p>
        }
    </table>
</div>



@code {
    private IEnumerable<Phone> PhonesList { get; set; }
    private int deletingItemId;
    private bool showConfirmDeleteModal;

    private void ConfirmDelete(int id)
    {
        deletingItemId = id;
        showConfirmDeleteModal = true;
    }
    
    protected override async Task OnInitializedAsync()
    {
        await LoadPhoneList();
    }

    private async Task LoadPhoneList()
    {
        PhonesList = await phoneService.GetAllPhones();
    }

    private async Task DeletePhone()
    {
        await phoneService.DeletePhoneById(deletingItemId);
        toastService.ShowSuccess("Phone Information was deleted successfully!");
        showConfirmDeleteModal = false;
        await LoadPhoneList();

    }

}


@if (showConfirmDeleteModal)
{
    <div class="modal fade show" tabindex="-1" role="dialog" style="display: block;" aria-modal="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Confirm Delete</h5>
                    <button type="button" class="close" @onclick="() => showConfirmDeleteModal = false">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    Are you sure you want to delete this item?
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" @onclick="() => showConfirmDeleteModal = false">Cancel</button>
                    <button type="button" class="btn btn-danger" @onclick="DeletePhone">Delete</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal-backdrop fade show"></div>
}